.highlightCard {
  min-width: 18rem;
  max-width: 23rem;
  height: 21.3rem;
  border-radius: 0.5rem;
  background: var(--white);
  box-shadow: 0px 0px 16px 0px rgba(0, 128, 128, 0.16);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cardPic {
  width: 100%;
  height: 50%;
  transition: all 0.3s ease-in;
}
.cardPic:hover {
  transform: scale(1.1);
}
.text_container {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.25rem;
}
.heading {
  color: var(--green);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
}
.para {
  margin-top: 0.65rem;
  color: var(--dark);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  font-family: "IBM Plex Mono";
}
.arrow {
  margin-left: auto;
  margin-top: auto;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}
